@charset "UTF-8";
/*=================================
# mixin
====================================*/
/*=================================
# colors
====================================*/
/*=================================
# common 全体に共通するスタイル
====================================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  color: #3E3E3E;
  font-family: 'Kaushan Script', cursive;
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  color: #3E3E3E;
}

/*=================================
header
====================================*/
.header {
  background: #fff;
  box-shadow: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
}

.drawer--right .header .drawer-hamburger {
  right: 3px;
  top: 10px;
}

.drawer-open .header .drawer-hamburger-icon {
  background-color: transparent;
}

.header-inner {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0 auto;
  margin-top: 20px;
  box-sizing: content-box;
}

.header-wrap {
  display: flex;
  vertical-align: bottom;
}

.header-logo img {
  width: 40px;
  height: 40px;
  opacity: 0.7;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 8px;
  font-family: 'Kaushan Script', cursive;
}

.header-nav {
  margin-left: auto;
}

.header-nav-list {
  justify-content: space-between;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
  }
}

.header-nav-item {
  margin-left: 40px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

@media screen and (max-width: 767px) {
  .header-nav-item {
    margin-left: 0;
    margin-top: 60px;
  }
}

.header-nav-item-link:hover {
  background-color: #bbb;
  padding: 6px;
}

@media screen and (min-width: 768px) {
  .drawer-hamburger {
    display: none;
  }
}

/*=================================
top
====================================*/
.top-picture {
  height: 100vh;
  background-image: url(../img/top.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 10%;
}

@media screen and (max-width: 767px) {
  .top-container {
    margin-left: 7%;
  }
}

.top-message {
  position: absolute;
  top: 50%;
  display: inline-block;
  text-align: center;
  line-height: 1.5;
}

.top-title {
  font-size: 45px;
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
  color: black;
  letter-spacing: .5em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .top-title {
    font-size: 30px;
  }
}

.top-btn {
  margin-top: 20px;
  width: 255px;
  height: 45px;
  background: transparent;
  border-radius: 99px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  border: 1px solid black;
  letter-spacing: .3em;
}

.top-btn:hover {
  opacity: 0.7;
  background: #EEEEEE;
}

.top-text {
  margin-top: 10px;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

/*=================================
about
====================================*/
.about {
  padding-bottom: 40px;
  background: #fff;
}

.about-title {
  margin-top: 40px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 67px;
}

.about-inner {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .about-inner {
    display: flex;
  }
}

.about-img {
  border-radius: 100px;
}

@media screen and (max-width: 767px) {
  .about-img {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
}

.about-sns {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-size: 40px;
  color: #1DA1F1;
}

.about-sns:hover {
  opacity: .7;
}

.about-info {
  font-family: serif;
}

@media screen and (min-width: 768px) {
  .about-info {
    margin-left: 120px;
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  .about-info {
    margin-top: 50px;
    font-size: 20px;
  }
}

.about-text {
  line-height: 1.5;
}

.about-text h2 {
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: .2em;
  color: red;
  font-size: 30px;
}

.about-text h2:first-child {
  margin-top: 0;
}

.about-text p {
  margin-top: 15px;
}

.about-text small {
  display: block;
  margin-top: 15px;
  font-size: 20px;
  line-height: 1.7;
}

.about-text small .line {
  color: orange;
  font-weight: bold;
}

/*=================================
works
====================================*/
.works {
  padding: 40px 0;
  background: #F3F3F3;
}

.works-inner {
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.works-title {
  margin-top: 60px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 67px;
}

.works-wrap {
  flex-direction: row-reverse;
}

.works-picture {
  width: 60%;
}

@media screen and (max-width: 767px) {
  .works-picture {
    width: 100%;
  }
}

.works-picture:hover {
  opacity: 0.5;
}

.works-list {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .works-list {
    display: flex;
    align-items: center;
  }
}

.works-info {
  font-family: serif;
  background-color: #FFFFCC;
  padding: 30px;
  line-height: 1.7;
  letter-spacing: .1em;
}

@media screen and (min-width: 768px) {
  .works-info {
    margin-left: 50px;
  }
  .works-info-second {
    margin-left: 0;
    margin-right: 50px;
  }
}

.works-info h2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.works-info h2::after {
  content: '';
  display: block;
  height: 2px;
  width: 300px;
  background: red;
  margin: 6px auto 0;
}

@media screen and (max-width: 767px) {
  .works-info h2::after {
    width: 170px;
  }
}

.works-info h3 {
  margin: 6px 0;
  font-weight: bold;
  font-size: 18px;
  color: red;
}

/*=================================
contact
====================================*/
.contact {
  background: #CCFFFF;
  padding-top: 60px;
  font-family: serif;
}

.contact-inner {
  padding: 0 30px;
  max-width: 100%;
  margin: 0 auto;
}

.contact-title {
  margin-top: 60px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 67px;
}

.contact .form {
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  .contact .form {
    width: 100%;
  }
}

.contact label {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
}

.contact label span {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.contact input {
  display: block;
  width: 100%;
  height: 35px;
  padding: .2em .5em;
}

.contact textarea {
  display: block;
  width: 100%;
  padding: .2em .5em;
}

.contact .form-content {
  margin-bottom: 35px;
}

.contact button {
  background-color: #330099;
  color: white;
  width: 200px;
  text-align: center;
  padding: 19px;
  margin: 0 auto;
  display: block;
  margin-bottom: 40px;
}

.contact button:hover {
  opacity: .7;
}

/*=================================
footer
====================================*/
footer {
  background: #555;
  font-family: serif;
  text-align: center;
  color: white;
  margin: 0 auto;
}

footer p {
  padding: 15px 0;
}

@media screen and (max-width: 767px) {
  footer p {
    font-size: 13px;
  }
}
